/* main page */
body {
  background-color: black;
}
.brand-name {
  display: block;
  color: white;
}

header {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.main-header {
  list-style: none;
  padding-left: 10px;
  margin-top: 20px;
  text-align: start;
  display: flex;
  flex-direction: row;
}

.header-options {
  font-size: 20px;
  padding-left: 10px;
  color: white;
  padding-left: 30px;
  text-decoration: none;
}

.alpsLogo {
  width: 100%;
}

.product-images {
  width: 50%; /* we need to change this */
  border-radius: 3%;
}

.product-figures {
  margin-left: 10px;
  display: flex;
  gap: 0.5rem;
  color: white;
}

/* .product-info {
   display: flex; 
  align-items: center;
  color: white;
  font-size: 0.8rem;
} */

.product-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

a {
  text-decoration: none;
}

footer {
  border-top: 2px solid white;
}

.price-tags {
  text-align: start;
}

/* Shopping cart page  */

/* Product overview page */
.product-page-images {
  width: 40%;
}
/* Detail page */

/* sign in page */
