/* main page */
body {
  background-color: black;
  color: textColor;
  font-family: "Montserrat", serif;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  margin-left: 5px;
}

.button2 {
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%,
  70% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.brand-name {
  color: rgb(255, 14, 139);
  display: block;
}

header {
  display: flex;
  align-items: center;
}

.alpsLogo {
  width: 100%;
  margin-left: 0;
}

.main-header {
  list-style: none;
  padding-left: 10px;
  margin-top: 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.header-options {
  font-size: 20px;
  padding-left: 10px;
  color: rgb(113, 113, 113);
  padding-left: 30px;
  text-decoration: none;
  padding-bottom: 10px;
}

.product-images {
  width: 80%; /* we need to change this */
  border-radius: 5%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.product-figures {
  margin-left: 10px;
  display: flex;
  gap: 1rem;
  color: white;
  position: relative;
}

figcaption {
  position: absolute;
  color: rgb(16, 151, 149);
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  opacity: 0;
}
.caption-watch {
  position: absolute;
  color: blue;
  left: 42.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.product-figures:hover .product-images {
  scale: 1.04;
  transition: all ease-in-out;
  transition-duration: 400ms;
  filter: blur(10px);
}

.product-figures:hover figcaption {
  opacity: 5;
  transition-delay: 200ms;
}

.product-info {
  display: flex;
  font-size: 1rem;
  gap: 0.5rem;
  margin-left: 5px;
}

a {
  text-decoration: none;
}

h3 {
  font-size: large;
}

footer {
  border-top: 2px solid white;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: auto;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* responsive page */
@media screen and (min-width: 415px /* iphone xr size: 414px */) {
  .product-Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-page-images {
    width: 30%;
    border-radius: 3%;
  }
  .main-header {
    list-style: none;
    padding-left: 10px;
    margin-top: 20px;
    text-align: start;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1025px /* ipad pro size: 1024px */) {
  .product-Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } /* we take avg laptop monitor size for the 3 column size as an example (1366x768 px) */

  .product-page-images {
    width: 40%;
    border-radius: 3%;
  }
}

/* Shopping cart page  */

/* Product overview page */

.product-page-images {
  width: 40%;
  height: 40%;
  margin-left: 5px;
}
.price-tag {
  padding-left: 2.5rem;
  font-size: 2rem;
  animation: wiggle 2s linear;
  color: rgb(255, 14, 139);
}

.buy-button {
  font-size: 20px;
  padding: 8px;
  margin-left: 2rem;
  background-color: rgb(145, 191, 230);
  border-radius: 15px;
}
